@font-face {
  font-family: 'Roboto';
  //Ruta para github pages
  //src: url('../assets/fonts/Roboto/Roboto-Variable.ttf') format('truetype');
  
  //Ruta para trabajar en tu computadora
  src: url('../../../assets/fonts/Roboto/Roboto-Variable.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
